name: doc

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "doc"
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31.7.0
        with:
          extra_nix_config: |
            accept-flake-config = true
            experimental-features = nix-command flakes
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build Pages
        run: |
          nix build .#nixpkgs-update-doc
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./result/multi

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
